/*
 * Velo Payments APIs
 *
 * ## Terms and Definitions  Throughout this document and the Velo platform the following terms are used:  * **Payor.** An entity (typically a corporation) which wishes to pay funds to one or more payees via a payout. * **Payee.** The recipient of funds paid out by a payor. * **Payment.** A single transfer of funds from a payor to a payee. * **Payout.** A batch of Payments, typically used by a payor to logically group payments (e.g. by business day). Technically there need be no relationship between the payments in a payout - a single payout can contain payments to multiple payees and/or multiple payments to a single payee. * **Sandbox.** An integration environment provided by Velo Payments which offers a similar API experience to the production environment, but all funding and payment events are simulated, along with many other services such as OFAC sanctions list checking.  ## Overview  The Velo Payments API allows a payor to perform a number of operations. The following is a list of the main capabilities in a natural order of execution:  * Authenticate with the Velo platform * Maintain a collection of payees * Query the payor’s current balance of funds within the platform and perform additional funding * Issue payments to payees * Query the platform for a history of those payments  This document describes the main concepts and APIs required to get up and running with the Velo Payments platform. It is not an exhaustive API reference. For that, please see the separate Velo Payments API Reference.  ## API Considerations  The Velo Payments API is REST based and uses the JSON format for requests and responses.  Most calls are secured using OAuth 2 security and require a valid authentication access token for successful operation. See the Authentication section for details.  Where a dynamic value is required in the examples below, the {token} format is used, suggesting that the caller needs to supply the appropriate value of the token in question (without including the { or } characters).  Where curl examples are given, the –d @filename.json approach is used, indicating that the request body should be placed into a file named filename.json in the current directory. Each of the curl examples in this document should be considered a single line on the command-line, regardless of how they appear in print.  ## Authenticating with the Velo Platform  Once Velo backoffice staff have added your organization as a payor within the Velo platform sandbox, they will create you a payor Id, an API key and an API secret and share these with you in a secure manner.  You will need to use these values to authenticate with the Velo platform in order to gain access to the APIs. The steps to take are explained in the following:  create a string comprising the API key (e.g. 44a9537d-d55d-4b47-8082-14061c2bcdd8) and API secret (e.g. c396b26b-137a-44fd-87f5-34631f8fd529) with a colon between them. E.g. 44a9537d-d55d-4b47-8082-14061c2bcdd8:c396b26b-137a-44fd-87f5-34631f8fd529  base64 encode this string. E.g.: NDRhOTUzN2QtZDU1ZC00YjQ3LTgwODItMTQwNjFjMmJjZGQ4OmMzOTZiMjZiLTEzN2EtNDRmZC04N2Y1LTM0NjMxZjhmZDUyOQ==  create an HTTP **Authorization** header with the value set to e.g. Basic NDRhOTUzN2QtZDU1ZC00YjQ3LTgwODItMTQwNjFjMmJjZGQ4OmMzOTZiMjZiLTEzN2EtNDRmZC04N2Y1LTM0NjMxZjhmZDUyOQ==  perform the Velo authentication REST call using the HTTP header created above e.g. via curl:  ```   curl -X POST \\   -H \"Content-Type: application/json\" \\   -H \"Authorization: Basic NDRhOTUzN2QtZDU1ZC00YjQ3LTgwODItMTQwNjFjMmJjZGQ4OmMzOTZiMjZiLTEzN2EtNDRmZC04N2Y1LTM0NjMxZjhmZDUyOQ==\" \\   'https://api.sandbox.velopayments.com/v1/authenticate?grant_type=client_credentials' ```  If successful, this call will result in a **200** HTTP status code and a response body such as:  ```   {     \"access_token\":\"19f6bafd-93fd-4747-b229-00507bbc991f\",     \"token_type\":\"bearer\",     \"expires_in\":1799,     \"scope\":\"...\"   } ``` ## API access following authentication Following successful authentication, the value of the access_token field in the response (indicated in green above) should then be presented with all subsequent API calls to allow the Velo platform to validate that the caller is authenticated.  This is achieved by setting the HTTP Authorization header with the value set to e.g. Bearer 19f6bafd-93fd-4747-b229-00507bbc991f such as the curl example below:  ```   -H \"Authorization: Bearer 19f6bafd-93fd-4747-b229-00507bbc991f \" ```  If you make other Velo API calls which require authorization but the Authorization header is missing or invalid then you will get a **401** HTTP status response. 
 *
 * API version: 2.26.124
 */

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package velopayments

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
	"time"
)

// Linger please
var (
	_ _context.Context
)

// PaymentAuditServiceApiService PaymentAuditServiceApi service
type PaymentAuditServiceApiService service

type ApiExportTransactionsCSVV4Request struct {
	ctx _context.Context
	ApiService *PaymentAuditServiceApiService
	payorId *string
	startDate *string
	endDate *string
	include *string
}

func (r ApiExportTransactionsCSVV4Request) PayorId(payorId string) ApiExportTransactionsCSVV4Request {
	r.payorId = &payorId
	return r
}
func (r ApiExportTransactionsCSVV4Request) StartDate(startDate string) ApiExportTransactionsCSVV4Request {
	r.startDate = &startDate
	return r
}
func (r ApiExportTransactionsCSVV4Request) EndDate(endDate string) ApiExportTransactionsCSVV4Request {
	r.endDate = &endDate
	return r
}
func (r ApiExportTransactionsCSVV4Request) Include(include string) ApiExportTransactionsCSVV4Request {
	r.include = &include
	return r
}

func (r ApiExportTransactionsCSVV4Request) Execute() (PayorAmlTransaction, *_nethttp.Response, error) {
	return r.ApiService.ExportTransactionsCSVV4Execute(r)
}

/*
 * ExportTransactionsCSVV4 Export Transactions
 * Download a CSV file containing payments in a date range. Uses Transfer-Encoding - chunked to stream to the client. Date range is inclusive of both the start and end dates.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return ApiExportTransactionsCSVV4Request
 */
func (a *PaymentAuditServiceApiService) ExportTransactionsCSVV4(ctx _context.Context) ApiExportTransactionsCSVV4Request {
	return ApiExportTransactionsCSVV4Request{
		ApiService: a,
		ctx: ctx,
	}
}

/*
 * Execute executes the request
 * @return PayorAmlTransaction
 */
func (a *PaymentAuditServiceApiService) ExportTransactionsCSVV4Execute(r ApiExportTransactionsCSVV4Request) (PayorAmlTransaction, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  PayorAmlTransaction
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaymentAuditServiceApiService.ExportTransactionsCSVV4")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v4/paymentaudit/transactions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.payorId != nil {
		localVarQueryParams.Add("payorId", parameterToString(*r.payorId, ""))
	}
	if r.startDate != nil {
		localVarQueryParams.Add("startDate", parameterToString(*r.startDate, ""))
	}
	if r.endDate != nil {
		localVarQueryParams.Add("endDate", parameterToString(*r.endDate, ""))
	}
	if r.include != nil {
		localVarQueryParams.Add("include", parameterToString(*r.include, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetFundingsV4Request struct {
	ctx _context.Context
	ApiService *PaymentAuditServiceApiService
	payorId *string
	page *int32
	pageSize *int32
	sort *string
}

func (r ApiGetFundingsV4Request) PayorId(payorId string) ApiGetFundingsV4Request {
	r.payorId = &payorId
	return r
}
func (r ApiGetFundingsV4Request) Page(page int32) ApiGetFundingsV4Request {
	r.page = &page
	return r
}
func (r ApiGetFundingsV4Request) PageSize(pageSize int32) ApiGetFundingsV4Request {
	r.pageSize = &pageSize
	return r
}
func (r ApiGetFundingsV4Request) Sort(sort string) ApiGetFundingsV4Request {
	r.sort = &sort
	return r
}

func (r ApiGetFundingsV4Request) Execute() (GetFundingsResponse, *_nethttp.Response, error) {
	return r.ApiService.GetFundingsV4Execute(r)
}

/*
 * GetFundingsV4 Get Fundings for Payor
 * <p>Get a list of Fundings for a payor.</p>

 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return ApiGetFundingsV4Request
 */
func (a *PaymentAuditServiceApiService) GetFundingsV4(ctx _context.Context) ApiGetFundingsV4Request {
	return ApiGetFundingsV4Request{
		ApiService: a,
		ctx: ctx,
	}
}

/*
 * Execute executes the request
 * @return GetFundingsResponse
 */
func (a *PaymentAuditServiceApiService) GetFundingsV4Execute(r ApiGetFundingsV4Request) (GetFundingsResponse, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  GetFundingsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaymentAuditServiceApiService.GetFundingsV4")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v4/paymentaudit/fundings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.payorId == nil {
		return localVarReturnValue, nil, reportError("payorId is required and must be specified")
	}

	localVarQueryParams.Add("payorId", parameterToString(*r.payorId, ""))
	if r.page != nil {
		localVarQueryParams.Add("page", parameterToString(*r.page, ""))
	}
	if r.pageSize != nil {
		localVarQueryParams.Add("pageSize", parameterToString(*r.pageSize, ""))
	}
	if r.sort != nil {
		localVarQueryParams.Add("sort", parameterToString(*r.sort, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v InlineResponse400
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v InlineResponse401
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v InlineResponse403
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InlineResponse404
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetPaymentDetailsV4Request struct {
	ctx _context.Context
	ApiService *PaymentAuditServiceApiService
	paymentId string
	sensitive *bool
}

func (r ApiGetPaymentDetailsV4Request) Sensitive(sensitive bool) ApiGetPaymentDetailsV4Request {
	r.sensitive = &sensitive
	return r
}

func (r ApiGetPaymentDetailsV4Request) Execute() (PaymentResponseV4, *_nethttp.Response, error) {
	return r.ApiService.GetPaymentDetailsV4Execute(r)
}

/*
 * GetPaymentDetailsV4 Get Payment
 * Get the payment with the given id. This contains the payment history.

 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param paymentId Payment Id
 * @return ApiGetPaymentDetailsV4Request
 */
func (a *PaymentAuditServiceApiService) GetPaymentDetailsV4(ctx _context.Context, paymentId string) ApiGetPaymentDetailsV4Request {
	return ApiGetPaymentDetailsV4Request{
		ApiService: a,
		ctx: ctx,
		paymentId: paymentId,
	}
}

/*
 * Execute executes the request
 * @return PaymentResponseV4
 */
func (a *PaymentAuditServiceApiService) GetPaymentDetailsV4Execute(r ApiGetPaymentDetailsV4Request) (PaymentResponseV4, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  PaymentResponseV4
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaymentAuditServiceApiService.GetPaymentDetailsV4")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v4/paymentaudit/payments/{paymentId}"
	localVarPath = strings.Replace(localVarPath, "{"+"paymentId"+"}", _neturl.PathEscape(parameterToString(r.paymentId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.sensitive != nil {
		localVarQueryParams.Add("sensitive", parameterToString(*r.sensitive, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v InlineResponse400
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v InlineResponse401
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v InlineResponse403
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InlineResponse404
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetPaymentsForPayoutV4Request struct {
	ctx _context.Context
	ApiService *PaymentAuditServiceApiService
	payoutId string
	remoteId *string
	remoteSystemId *string
	status *string
	sourceAmountFrom *int32
	sourceAmountTo *int32
	paymentAmountFrom *int32
	paymentAmountTo *int32
	submittedDateFrom *string
	submittedDateTo *string
	transmissionType *string
	page *int32
	pageSize *int32
	sort *string
	sensitive *bool
}

func (r ApiGetPaymentsForPayoutV4Request) RemoteId(remoteId string) ApiGetPaymentsForPayoutV4Request {
	r.remoteId = &remoteId
	return r
}
func (r ApiGetPaymentsForPayoutV4Request) RemoteSystemId(remoteSystemId string) ApiGetPaymentsForPayoutV4Request {
	r.remoteSystemId = &remoteSystemId
	return r
}
func (r ApiGetPaymentsForPayoutV4Request) Status(status string) ApiGetPaymentsForPayoutV4Request {
	r.status = &status
	return r
}
func (r ApiGetPaymentsForPayoutV4Request) SourceAmountFrom(sourceAmountFrom int32) ApiGetPaymentsForPayoutV4Request {
	r.sourceAmountFrom = &sourceAmountFrom
	return r
}
func (r ApiGetPaymentsForPayoutV4Request) SourceAmountTo(sourceAmountTo int32) ApiGetPaymentsForPayoutV4Request {
	r.sourceAmountTo = &sourceAmountTo
	return r
}
func (r ApiGetPaymentsForPayoutV4Request) PaymentAmountFrom(paymentAmountFrom int32) ApiGetPaymentsForPayoutV4Request {
	r.paymentAmountFrom = &paymentAmountFrom
	return r
}
func (r ApiGetPaymentsForPayoutV4Request) PaymentAmountTo(paymentAmountTo int32) ApiGetPaymentsForPayoutV4Request {
	r.paymentAmountTo = &paymentAmountTo
	return r
}
func (r ApiGetPaymentsForPayoutV4Request) SubmittedDateFrom(submittedDateFrom string) ApiGetPaymentsForPayoutV4Request {
	r.submittedDateFrom = &submittedDateFrom
	return r
}
func (r ApiGetPaymentsForPayoutV4Request) SubmittedDateTo(submittedDateTo string) ApiGetPaymentsForPayoutV4Request {
	r.submittedDateTo = &submittedDateTo
	return r
}
func (r ApiGetPaymentsForPayoutV4Request) TransmissionType(transmissionType string) ApiGetPaymentsForPayoutV4Request {
	r.transmissionType = &transmissionType
	return r
}
func (r ApiGetPaymentsForPayoutV4Request) Page(page int32) ApiGetPaymentsForPayoutV4Request {
	r.page = &page
	return r
}
func (r ApiGetPaymentsForPayoutV4Request) PageSize(pageSize int32) ApiGetPaymentsForPayoutV4Request {
	r.pageSize = &pageSize
	return r
}
func (r ApiGetPaymentsForPayoutV4Request) Sort(sort string) ApiGetPaymentsForPayoutV4Request {
	r.sort = &sort
	return r
}
func (r ApiGetPaymentsForPayoutV4Request) Sensitive(sensitive bool) ApiGetPaymentsForPayoutV4Request {
	r.sensitive = &sensitive
	return r
}

func (r ApiGetPaymentsForPayoutV4Request) Execute() (GetPaymentsForPayoutResponseV4, *_nethttp.Response, error) {
	return r.ApiService.GetPaymentsForPayoutV4Execute(r)
}

/*
 * GetPaymentsForPayoutV4 Get Payments for Payout
 * Get List of payments for Payout, allowing for RETURNED status

 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param payoutId The id (UUID) of the payout.
 * @return ApiGetPaymentsForPayoutV4Request
 */
func (a *PaymentAuditServiceApiService) GetPaymentsForPayoutV4(ctx _context.Context, payoutId string) ApiGetPaymentsForPayoutV4Request {
	return ApiGetPaymentsForPayoutV4Request{
		ApiService: a,
		ctx: ctx,
		payoutId: payoutId,
	}
}

/*
 * Execute executes the request
 * @return GetPaymentsForPayoutResponseV4
 */
func (a *PaymentAuditServiceApiService) GetPaymentsForPayoutV4Execute(r ApiGetPaymentsForPayoutV4Request) (GetPaymentsForPayoutResponseV4, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  GetPaymentsForPayoutResponseV4
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaymentAuditServiceApiService.GetPaymentsForPayoutV4")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v4/paymentaudit/payouts/{payoutId}"
	localVarPath = strings.Replace(localVarPath, "{"+"payoutId"+"}", _neturl.PathEscape(parameterToString(r.payoutId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.remoteId != nil {
		localVarQueryParams.Add("remoteId", parameterToString(*r.remoteId, ""))
	}
	if r.remoteSystemId != nil {
		localVarQueryParams.Add("remoteSystemId", parameterToString(*r.remoteSystemId, ""))
	}
	if r.status != nil {
		localVarQueryParams.Add("status", parameterToString(*r.status, ""))
	}
	if r.sourceAmountFrom != nil {
		localVarQueryParams.Add("sourceAmountFrom", parameterToString(*r.sourceAmountFrom, ""))
	}
	if r.sourceAmountTo != nil {
		localVarQueryParams.Add("sourceAmountTo", parameterToString(*r.sourceAmountTo, ""))
	}
	if r.paymentAmountFrom != nil {
		localVarQueryParams.Add("paymentAmountFrom", parameterToString(*r.paymentAmountFrom, ""))
	}
	if r.paymentAmountTo != nil {
		localVarQueryParams.Add("paymentAmountTo", parameterToString(*r.paymentAmountTo, ""))
	}
	if r.submittedDateFrom != nil {
		localVarQueryParams.Add("submittedDateFrom", parameterToString(*r.submittedDateFrom, ""))
	}
	if r.submittedDateTo != nil {
		localVarQueryParams.Add("submittedDateTo", parameterToString(*r.submittedDateTo, ""))
	}
	if r.transmissionType != nil {
		localVarQueryParams.Add("transmissionType", parameterToString(*r.transmissionType, ""))
	}
	if r.page != nil {
		localVarQueryParams.Add("page", parameterToString(*r.page, ""))
	}
	if r.pageSize != nil {
		localVarQueryParams.Add("pageSize", parameterToString(*r.pageSize, ""))
	}
	if r.sort != nil {
		localVarQueryParams.Add("sort", parameterToString(*r.sort, ""))
	}
	if r.sensitive != nil {
		localVarQueryParams.Add("sensitive", parameterToString(*r.sensitive, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v InlineResponse400
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v InlineResponse401
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v InlineResponse403
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InlineResponse404
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetPayoutStatsV4Request struct {
	ctx _context.Context
	ApiService *PaymentAuditServiceApiService
	payorId *string
}

func (r ApiGetPayoutStatsV4Request) PayorId(payorId string) ApiGetPayoutStatsV4Request {
	r.payorId = &payorId
	return r
}

func (r ApiGetPayoutStatsV4Request) Execute() (GetPayoutStatistics, *_nethttp.Response, error) {
	return r.ApiService.GetPayoutStatsV4Execute(r)
}

/*
 * GetPayoutStatsV4 Get Payout Statistics
 * <p>Get payout statistics for a payor.</p>

 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return ApiGetPayoutStatsV4Request
 */
func (a *PaymentAuditServiceApiService) GetPayoutStatsV4(ctx _context.Context) ApiGetPayoutStatsV4Request {
	return ApiGetPayoutStatsV4Request{
		ApiService: a,
		ctx: ctx,
	}
}

/*
 * Execute executes the request
 * @return GetPayoutStatistics
 */
func (a *PaymentAuditServiceApiService) GetPayoutStatsV4Execute(r ApiGetPayoutStatsV4Request) (GetPayoutStatistics, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  GetPayoutStatistics
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaymentAuditServiceApiService.GetPayoutStatsV4")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v4/paymentaudit/payoutStatistics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.payorId != nil {
		localVarQueryParams.Add("payorId", parameterToString(*r.payorId, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v InlineResponse400
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v InlineResponse401
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v InlineResponse403
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InlineResponse404
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetPayoutsForPayorV4Request struct {
	ctx _context.Context
	ApiService *PaymentAuditServiceApiService
	payorId *string
	payoutMemo *string
	status *string
	submittedDateFrom *string
	submittedDateTo *string
	fromPayorName *string
	page *int32
	pageSize *int32
	sort *string
}

func (r ApiGetPayoutsForPayorV4Request) PayorId(payorId string) ApiGetPayoutsForPayorV4Request {
	r.payorId = &payorId
	return r
}
func (r ApiGetPayoutsForPayorV4Request) PayoutMemo(payoutMemo string) ApiGetPayoutsForPayorV4Request {
	r.payoutMemo = &payoutMemo
	return r
}
func (r ApiGetPayoutsForPayorV4Request) Status(status string) ApiGetPayoutsForPayorV4Request {
	r.status = &status
	return r
}
func (r ApiGetPayoutsForPayorV4Request) SubmittedDateFrom(submittedDateFrom string) ApiGetPayoutsForPayorV4Request {
	r.submittedDateFrom = &submittedDateFrom
	return r
}
func (r ApiGetPayoutsForPayorV4Request) SubmittedDateTo(submittedDateTo string) ApiGetPayoutsForPayorV4Request {
	r.submittedDateTo = &submittedDateTo
	return r
}
func (r ApiGetPayoutsForPayorV4Request) FromPayorName(fromPayorName string) ApiGetPayoutsForPayorV4Request {
	r.fromPayorName = &fromPayorName
	return r
}
func (r ApiGetPayoutsForPayorV4Request) Page(page int32) ApiGetPayoutsForPayorV4Request {
	r.page = &page
	return r
}
func (r ApiGetPayoutsForPayorV4Request) PageSize(pageSize int32) ApiGetPayoutsForPayorV4Request {
	r.pageSize = &pageSize
	return r
}
func (r ApiGetPayoutsForPayorV4Request) Sort(sort string) ApiGetPayoutsForPayorV4Request {
	r.sort = &sort
	return r
}

func (r ApiGetPayoutsForPayorV4Request) Execute() (GetPayoutsResponse, *_nethttp.Response, error) {
	return r.ApiService.GetPayoutsForPayorV4Execute(r)
}

/*
 * GetPayoutsForPayorV4 Get Payouts for Payor
 * Get List of payouts for payor

 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return ApiGetPayoutsForPayorV4Request
 */
func (a *PaymentAuditServiceApiService) GetPayoutsForPayorV4(ctx _context.Context) ApiGetPayoutsForPayorV4Request {
	return ApiGetPayoutsForPayorV4Request{
		ApiService: a,
		ctx: ctx,
	}
}

/*
 * Execute executes the request
 * @return GetPayoutsResponse
 */
func (a *PaymentAuditServiceApiService) GetPayoutsForPayorV4Execute(r ApiGetPayoutsForPayorV4Request) (GetPayoutsResponse, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  GetPayoutsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaymentAuditServiceApiService.GetPayoutsForPayorV4")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v4/paymentaudit/payouts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.payorId != nil {
		localVarQueryParams.Add("payorId", parameterToString(*r.payorId, ""))
	}
	if r.payoutMemo != nil {
		localVarQueryParams.Add("payoutMemo", parameterToString(*r.payoutMemo, ""))
	}
	if r.status != nil {
		localVarQueryParams.Add("status", parameterToString(*r.status, ""))
	}
	if r.submittedDateFrom != nil {
		localVarQueryParams.Add("submittedDateFrom", parameterToString(*r.submittedDateFrom, ""))
	}
	if r.submittedDateTo != nil {
		localVarQueryParams.Add("submittedDateTo", parameterToString(*r.submittedDateTo, ""))
	}
	if r.fromPayorName != nil {
		localVarQueryParams.Add("fromPayorName", parameterToString(*r.fromPayorName, ""))
	}
	if r.page != nil {
		localVarQueryParams.Add("page", parameterToString(*r.page, ""))
	}
	if r.pageSize != nil {
		localVarQueryParams.Add("pageSize", parameterToString(*r.pageSize, ""))
	}
	if r.sort != nil {
		localVarQueryParams.Add("sort", parameterToString(*r.sort, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v InlineResponse400
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v InlineResponse401
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v InlineResponse403
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InlineResponse404
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListPaymentChangesV4Request struct {
	ctx _context.Context
	ApiService *PaymentAuditServiceApiService
	payorId *string
	updatedSince *time.Time
	page *int32
	pageSize *int32
}

func (r ApiListPaymentChangesV4Request) PayorId(payorId string) ApiListPaymentChangesV4Request {
	r.payorId = &payorId
	return r
}
func (r ApiListPaymentChangesV4Request) UpdatedSince(updatedSince time.Time) ApiListPaymentChangesV4Request {
	r.updatedSince = &updatedSince
	return r
}
func (r ApiListPaymentChangesV4Request) Page(page int32) ApiListPaymentChangesV4Request {
	r.page = &page
	return r
}
func (r ApiListPaymentChangesV4Request) PageSize(pageSize int32) ApiListPaymentChangesV4Request {
	r.pageSize = &pageSize
	return r
}

func (r ApiListPaymentChangesV4Request) Execute() (PaymentDeltaResponse, *_nethttp.Response, error) {
	return r.ApiService.ListPaymentChangesV4Execute(r)
}

/*
 * ListPaymentChangesV4 List Payment Changes
 * Get a paginated response listing payment changes.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return ApiListPaymentChangesV4Request
 */
func (a *PaymentAuditServiceApiService) ListPaymentChangesV4(ctx _context.Context) ApiListPaymentChangesV4Request {
	return ApiListPaymentChangesV4Request{
		ApiService: a,
		ctx: ctx,
	}
}

/*
 * Execute executes the request
 * @return PaymentDeltaResponse
 */
func (a *PaymentAuditServiceApiService) ListPaymentChangesV4Execute(r ApiListPaymentChangesV4Request) (PaymentDeltaResponse, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  PaymentDeltaResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaymentAuditServiceApiService.ListPaymentChangesV4")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v4/payments/deltas"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.payorId == nil {
		return localVarReturnValue, nil, reportError("payorId is required and must be specified")
	}
	if r.updatedSince == nil {
		return localVarReturnValue, nil, reportError("updatedSince is required and must be specified")
	}

	localVarQueryParams.Add("payorId", parameterToString(*r.payorId, ""))
	localVarQueryParams.Add("updatedSince", parameterToString(*r.updatedSince, ""))
	if r.page != nil {
		localVarQueryParams.Add("page", parameterToString(*r.page, ""))
	}
	if r.pageSize != nil {
		localVarQueryParams.Add("pageSize", parameterToString(*r.pageSize, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListPaymentsAuditV4Request struct {
	ctx _context.Context
	ApiService *PaymentAuditServiceApiService
	payeeId *string
	payorId *string
	payorName *string
	remoteId *string
	remoteSystemId *string
	status *string
	transmissionType *string
	sourceAccountName *string
	sourceAmountFrom *int32
	sourceAmountTo *int32
	sourceCurrency *string
	paymentAmountFrom *int32
	paymentAmountTo *int32
	paymentCurrency *string
	submittedDateFrom *string
	submittedDateTo *string
	paymentMemo *string
	page *int32
	pageSize *int32
	sort *string
	sensitive *bool
}

func (r ApiListPaymentsAuditV4Request) PayeeId(payeeId string) ApiListPaymentsAuditV4Request {
	r.payeeId = &payeeId
	return r
}
func (r ApiListPaymentsAuditV4Request) PayorId(payorId string) ApiListPaymentsAuditV4Request {
	r.payorId = &payorId
	return r
}
func (r ApiListPaymentsAuditV4Request) PayorName(payorName string) ApiListPaymentsAuditV4Request {
	r.payorName = &payorName
	return r
}
func (r ApiListPaymentsAuditV4Request) RemoteId(remoteId string) ApiListPaymentsAuditV4Request {
	r.remoteId = &remoteId
	return r
}
func (r ApiListPaymentsAuditV4Request) RemoteSystemId(remoteSystemId string) ApiListPaymentsAuditV4Request {
	r.remoteSystemId = &remoteSystemId
	return r
}
func (r ApiListPaymentsAuditV4Request) Status(status string) ApiListPaymentsAuditV4Request {
	r.status = &status
	return r
}
func (r ApiListPaymentsAuditV4Request) TransmissionType(transmissionType string) ApiListPaymentsAuditV4Request {
	r.transmissionType = &transmissionType
	return r
}
func (r ApiListPaymentsAuditV4Request) SourceAccountName(sourceAccountName string) ApiListPaymentsAuditV4Request {
	r.sourceAccountName = &sourceAccountName
	return r
}
func (r ApiListPaymentsAuditV4Request) SourceAmountFrom(sourceAmountFrom int32) ApiListPaymentsAuditV4Request {
	r.sourceAmountFrom = &sourceAmountFrom
	return r
}
func (r ApiListPaymentsAuditV4Request) SourceAmountTo(sourceAmountTo int32) ApiListPaymentsAuditV4Request {
	r.sourceAmountTo = &sourceAmountTo
	return r
}
func (r ApiListPaymentsAuditV4Request) SourceCurrency(sourceCurrency string) ApiListPaymentsAuditV4Request {
	r.sourceCurrency = &sourceCurrency
	return r
}
func (r ApiListPaymentsAuditV4Request) PaymentAmountFrom(paymentAmountFrom int32) ApiListPaymentsAuditV4Request {
	r.paymentAmountFrom = &paymentAmountFrom
	return r
}
func (r ApiListPaymentsAuditV4Request) PaymentAmountTo(paymentAmountTo int32) ApiListPaymentsAuditV4Request {
	r.paymentAmountTo = &paymentAmountTo
	return r
}
func (r ApiListPaymentsAuditV4Request) PaymentCurrency(paymentCurrency string) ApiListPaymentsAuditV4Request {
	r.paymentCurrency = &paymentCurrency
	return r
}
func (r ApiListPaymentsAuditV4Request) SubmittedDateFrom(submittedDateFrom string) ApiListPaymentsAuditV4Request {
	r.submittedDateFrom = &submittedDateFrom
	return r
}
func (r ApiListPaymentsAuditV4Request) SubmittedDateTo(submittedDateTo string) ApiListPaymentsAuditV4Request {
	r.submittedDateTo = &submittedDateTo
	return r
}
func (r ApiListPaymentsAuditV4Request) PaymentMemo(paymentMemo string) ApiListPaymentsAuditV4Request {
	r.paymentMemo = &paymentMemo
	return r
}
func (r ApiListPaymentsAuditV4Request) Page(page int32) ApiListPaymentsAuditV4Request {
	r.page = &page
	return r
}
func (r ApiListPaymentsAuditV4Request) PageSize(pageSize int32) ApiListPaymentsAuditV4Request {
	r.pageSize = &pageSize
	return r
}
func (r ApiListPaymentsAuditV4Request) Sort(sort string) ApiListPaymentsAuditV4Request {
	r.sort = &sort
	return r
}
func (r ApiListPaymentsAuditV4Request) Sensitive(sensitive bool) ApiListPaymentsAuditV4Request {
	r.sensitive = &sensitive
	return r
}

func (r ApiListPaymentsAuditV4Request) Execute() (ListPaymentsResponseV4, *_nethttp.Response, error) {
	return r.ApiService.ListPaymentsAuditV4Execute(r)
}

/*
 * ListPaymentsAuditV4 Get List of Payments
 * Get payments for the given payor Id
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return ApiListPaymentsAuditV4Request
 */
func (a *PaymentAuditServiceApiService) ListPaymentsAuditV4(ctx _context.Context) ApiListPaymentsAuditV4Request {
	return ApiListPaymentsAuditV4Request{
		ApiService: a,
		ctx: ctx,
	}
}

/*
 * Execute executes the request
 * @return ListPaymentsResponseV4
 */
func (a *PaymentAuditServiceApiService) ListPaymentsAuditV4Execute(r ApiListPaymentsAuditV4Request) (ListPaymentsResponseV4, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  ListPaymentsResponseV4
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaymentAuditServiceApiService.ListPaymentsAuditV4")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v4/paymentaudit/payments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.payeeId != nil {
		localVarQueryParams.Add("payeeId", parameterToString(*r.payeeId, ""))
	}
	if r.payorId != nil {
		localVarQueryParams.Add("payorId", parameterToString(*r.payorId, ""))
	}
	if r.payorName != nil {
		localVarQueryParams.Add("payorName", parameterToString(*r.payorName, ""))
	}
	if r.remoteId != nil {
		localVarQueryParams.Add("remoteId", parameterToString(*r.remoteId, ""))
	}
	if r.remoteSystemId != nil {
		localVarQueryParams.Add("remoteSystemId", parameterToString(*r.remoteSystemId, ""))
	}
	if r.status != nil {
		localVarQueryParams.Add("status", parameterToString(*r.status, ""))
	}
	if r.transmissionType != nil {
		localVarQueryParams.Add("transmissionType", parameterToString(*r.transmissionType, ""))
	}
	if r.sourceAccountName != nil {
		localVarQueryParams.Add("sourceAccountName", parameterToString(*r.sourceAccountName, ""))
	}
	if r.sourceAmountFrom != nil {
		localVarQueryParams.Add("sourceAmountFrom", parameterToString(*r.sourceAmountFrom, ""))
	}
	if r.sourceAmountTo != nil {
		localVarQueryParams.Add("sourceAmountTo", parameterToString(*r.sourceAmountTo, ""))
	}
	if r.sourceCurrency != nil {
		localVarQueryParams.Add("sourceCurrency", parameterToString(*r.sourceCurrency, ""))
	}
	if r.paymentAmountFrom != nil {
		localVarQueryParams.Add("paymentAmountFrom", parameterToString(*r.paymentAmountFrom, ""))
	}
	if r.paymentAmountTo != nil {
		localVarQueryParams.Add("paymentAmountTo", parameterToString(*r.paymentAmountTo, ""))
	}
	if r.paymentCurrency != nil {
		localVarQueryParams.Add("paymentCurrency", parameterToString(*r.paymentCurrency, ""))
	}
	if r.submittedDateFrom != nil {
		localVarQueryParams.Add("submittedDateFrom", parameterToString(*r.submittedDateFrom, ""))
	}
	if r.submittedDateTo != nil {
		localVarQueryParams.Add("submittedDateTo", parameterToString(*r.submittedDateTo, ""))
	}
	if r.paymentMemo != nil {
		localVarQueryParams.Add("paymentMemo", parameterToString(*r.paymentMemo, ""))
	}
	if r.page != nil {
		localVarQueryParams.Add("page", parameterToString(*r.page, ""))
	}
	if r.pageSize != nil {
		localVarQueryParams.Add("pageSize", parameterToString(*r.pageSize, ""))
	}
	if r.sort != nil {
		localVarQueryParams.Add("sort", parameterToString(*r.sort, ""))
	}
	if r.sensitive != nil {
		localVarQueryParams.Add("sensitive", parameterToString(*r.sensitive, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v InlineResponse400
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v InlineResponse401
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v InlineResponse403
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
